<!-- header-main -->
<%- include("./layouts/header.ejs") %>

<!-- end header-main -->

    <aside class="single-header">
      <div class="container">
        <div class="columns">
          <div class="column is-12 breadcrumbs">
            <p>
              <span>
                <a href="/">Home</a>
              </span>
              /
              <span>Category Name</span>
            </p>
          </div>
        </div>
      </div>
    </aside>

    <!-- main -->
    <main class="main">
      <div class="container">
        <div class="columns content-body">
          <div class="column is-8">
            <!-- hot-post -->
            <div class="hot-post no-top-padding">
              <div class="columns">
                <div class="column is-12 hot-post-left">
                  <div class="post post-thumb">
                    <a href="blog-post.html" class="post-img">
                      <img src="assets/images/post-1.jpg" alt="" />
                    </a>
                    <div class="post-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <h3 class="post-title title-lg">
                        <a href="blog-post.html">
                          Postea senserit id eos, vivendo periculis ei qui
                        </a>
                      </h3>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end hot-post -->

            <!-- recent-posts -->
            <div class="recent-post">
              <div class="columns">
                <div class="column is-6 col-left">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-4.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="column is-6 col-right">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-5.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 col-left">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-6.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="column is-6 col-right">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-7.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 col-left">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-8.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="column is-6 col-right">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-9.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <div class="ads-box">
                    <img src="assets/images/ad-2.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 col-left">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-10.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="column is-6 col-right">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-11.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 col-left">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-2.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="column is-6 col-right">
                  <div class="card rounded-0 border-0">
                    <a href="blog-post.html" class="post-img">
                      <img
                        src="assets/images/post-3.jpg"
                        class="card-img-top rounded-0"
                        alt=""
                      />
                    </a>
                    <div class="card-body">
                      <div class="post-category">
                        <a href="blog-list.html">Technology</a>
                      </div>
                      <a href="blog-post.html">
                        <h5 class="card-title">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </h5>
                      </a>
                      <ul class="post-meta">
                        <li>
                          <a href="about.html">Welison Menezes</a>
                        </li>
                        <li>20 April 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end recent-posts -->

            <!-- pagination -->
            <div class="has-text-right">
              <nav
                class="pagination is-centered"
                role="navigation"
                aria-label="pagination"
              >
                <a class="pagination-previous">Previous</a>
                <ul class="pagination-list">
                  <li>
                    <a class="pagination-link" aria-label="Goto page 1">1</a>
                  </li>
                  <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                  </li>
                  <li>
                    <a class="pagination-link" aria-label="Goto page 45">45</a>
                  </li>
                  <li>
                    <a
                      class="pagination-link is-current"
                      aria-label="Page 46"
                      aria-current="page"
                      >46</a
                    >
                  </li>
                  <li>
                    <a class="pagination-link" aria-label="Goto page 47">47</a>
                  </li>
                  <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                  </li>
                  <li>
                    <a class="pagination-link" aria-label="Goto page 86">86</a>
                  </li>
                </ul>
                <a class="pagination-next">Next</a>
              </nav>
            </div>
            <!-- end pagination -->
          </div>

          <div class="column is-4">
            <!-- sidebar -->
            <div class="sidebar">
              <div class="columns">
                <div class="column is-12">
                  <div class="section-title">
                    <h4 class="title">Popular Posts</h4>
                  </div>
                  <ul class="last-posts">
                    <li class="last-posts-item">
                      <a href="blog-post.html" class="post-img">
                        <img src="assets/images/post-4.jpg" alt="" />
                      </a>
                      <div class="post-body">
                        <div class="post-category">
                          <a href="blog-list.html">Technology</a>
                        </div>
                        <a href="blog-post.html">
                          <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </h5>
                        </a>
                      </div>
                    </li>
                    <li class="last-posts-item">
                      <a href="blog-post.html" class="post-img">
                        <img src="assets/images/post-1.jpg" alt="" />
                      </a>
                      <div class="post-body">
                        <div class="post-category">
                          <a href="blog-list.html">Technology</a>
                        </div>
                        <a href="blog-post.html">
                          <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </h5>
                        </a>
                      </div>
                    </li>
                    <li class="last-posts-item">
                      <a href="blog-post.html" class="post-img">
                        <img src="assets/images/post-3.jpg" alt="" />
                      </a>
                      <div class="post-body">
                        <div class="post-category">
                          <a href="blog-list.html">Technology</a>
                        </div>
                        <a href="blog-post.html">
                          <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </h5>
                        </a>
                      </div>
                    </li>
                    <li class="last-posts-item">
                      <a href="blog-post.html" class="post-img">
                        <img src="assets/images/post-8.jpg" alt="" />
                      </a>
                      <div class="post-body">
                        <div class="post-category">
                          <a href="blog-list.html">Technology</a>
                        </div>
                        <a href="blog-post.html">
                          <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </h5>
                        </a>
                      </div>
                    </li>
                    <li class="last-posts-item">
                      <a href="blog-post.html" class="post-img">
                        <img src="assets/images/post-7.jpg" alt="" />
                      </a>
                      <div class="post-body">
                        <div class="post-category">
                          <a href="blog-list.html">Technology</a>
                        </div>
                        <a href="blog-post.html">
                          <h5>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </h5>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <form class="form-sidebar">
                    <div>
                      <input
                        type="text"
                        class="form-control rounded-0"
                        placeholder="Search"
                      />
                      <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <div class="ads-box">
                    <img src="assets/images/ad-1.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <div class="section-title">
                    <h4 class="title">Categories</h4>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a href="blog-list.html">Technology</a>
                      <small>123</small>
                    </li>
                    <li class="list-group-item">
                      <a href="blog-list.html">Development</a>
                      <small>98</small>
                    </li>
                    <li class="list-group-item">
                      <a href="blog-list.html">Design</a>
                      <small>76</small>
                    </li>
                    <li class="list-group-item">
                      <a href="blog-list.html">Frontend</a>
                      <small>32</small>
                    </li>
                    <li class="list-group-item">
                      <a href="blog-list.html">Companies</a>
                      <small>15</small>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <div class="section-title">
                    <h4 class="title">Tags</h4>
                  </div>
                  <ul class="list-tags">
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Business</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Html</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Web Development</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Art</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Desgin</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Games</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Amazon</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Design Pattern</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >UX</a
                      >
                    </li>
                    <li>
                      <a href="blog-list.html" class="btn btn-primary btn-sm"
                        >Technology</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="columns">
                <div class="column is-12">
                  <div class="section-title">
                    <h4 class="title">Newsletter</h4>
                  </div>
                  <form class="form-sidebar">
                    <p>
                      Nec feugiat nisl pretium fusce id velit ut tortor pretium
                    </p>
                    <div>
                      <input
                        type="text"
                        class="form-control rounded-0"
                        placeholder="Email"
                      />
                      <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-paper-plane"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end sidebar -->
          </div>
        </div>
      </div>
    </main>
    <!-- end main -->

    <!-- footer -->
    <%-include('./layouts/footer.ejs') %>

    <!-- end footer -->
  </body>
</html>
