<!-- header-main -->
<%- include("./layouts/header.ejs") %>

<!-- end header-main -->

<aside class="single-header">
  <div class="container">
    <div class="columns">
      <div class="column is-12 breadcrumbs">
        <p>
          <span>
            <a href="index.html">Home</a>
          </span>
          /
          <span>Contact</span>
        </p>
      </div>
    </div>
  </div>
</aside>

<!-- main -->
<main class="main">
  <div class="container">
    <div class="columns content-body">
      <div class="column is-8">
        <div class="contact-text">
          <div class="section-title">
            <h3 class="title">Lorem ipsum dolor sit amet</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit eius
            recusandae cupiditate quidem maxime, vitae quibusdam, inventore, ut
            eaque odit amet tempora excepturi in a. Eius facere recusandae
            consequatur fugit.
          </p>
        </div>
        <form class="form-contact">
          <div class="columns">
            <div class="column is-12">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <input type="email" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <input type="text" class="form-control" placeholder="Subject" />
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <textarea class="form-control" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>

      <div class="column is-4">
        <!-- sidebar -->
        <div class="sidebar">
          <div class="columns">
            <div class="column is-12">
              <div class="section-title">
                <h4 class="title">Contact Info</h4>
              </div>
              <div class="contact-info">
                <p class="address">
                  12345 North Main Street,<br />
                  New York, NY 555555
                </p>
                <p class="phone">
                  <i class="fa fa-phone-square"></i>
                  1.800.555.6789
                </p>
                <p class="email">
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:support@theme-fusion.com"
                    >support@email.com</a
                  >
                </p>
                <p class="web">
                  <i class="fa fa-globe"></i>
                  <a href="http://avada.theme-fusion.com">urlsite.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="section-title">
                <h4 class="title">Keep In Touch!</h4>
              </div>
              <ul class="social-links">
                <li>
                  <a href="#">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-google-plus-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-rss-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-youtube-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-pinterest-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-blogger"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-vimeo-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-skype"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-dribbble-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-whatsapp-square"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end sidebar -->
      </div>
    </div>
  </div>
</main>
<!-- end main -->

<!-- footer -->
<%-include('./layouts/footer.ejs') %>

<!-- end footer -->
