<!-- header -->
<%- include("./layouts/header.ejs") %>

<!-- end header -->

<aside class="single-header">
  <div class="container">
    <div class="columns">
      <div class="column is-12 breadcrumbs">
        <p>
          <span>
            <a href="/">Home</a>
          </span>
          /
          <span>Post</span>
        </p>
      </div>
    </div>
  </div>
</aside>

<!-- main -->
<main class="main">
  <div class="container">
    <form class="is-center form-contact" action="/articles" method="POST"></form>
    <div class="columns content-body">
      
        
          
     
      
    </div>
  </form>
  </div>
</main>
<!-- end main -->

<!-- footer -->
<%-include('./layouts/footer.ejs') %>
<!-- end footer -->
