<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Daemon Time | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/images/favicon.png" />
    <link
      rel="stylesheet"
      href="css/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="css/bulma.min.css" />
    <link rel="stylesheet" href="css/bulma-carousel.min.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <style type="text/css">
      body {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
      }
    </style>
  </head>
  <body class="page-home">
    <!-- header-main -->
    <header class="header-main">
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <nav class="navbar">
              <div class="columns">
                <div class="column is-1">
                  <a href="../" class="waves-effect waves-light header-brand">
                    <!--   insert logo here                               -->
                    <img src="assets/images/mylogo.svg" alt="Logo" />
                    <!-- img/ logo here                                    -->
                  </a>
                  <button class="navbar-toggler" type="button">
                    <i class="fa fa-bars"></i>
                  </button>
                </div>
                <!-- Nav bar -->
                <div class="column is-11">
                  <div id="navbarMain">
                    <div class="columns">
                      <div class="column is-7">
                        <ul class="nav-main menu">
                          <li>
                            <a href="/" class="active">Home</a>
                          </li>
                          <!-- dropdown list -->
                          <li class="dropdown">
                            <a href="#">Other Pages</a>
                            <ul class="menu dropdown-menu">
                              <li>
                                <a href="blog-post">Blog Post</a>
                              </li>
                              <li>
                                <a href="blog-list">Blog List</a>
                              </li>
                              <li>
                                <a href="error">404 Page</a>
                              </li>
                              <li>
                                <a href="new">New Post</a>
                              </li>
                              <li>
                                <a href="elements">Elements</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="about">About</a>
                          </li>
                          <li>
                            <a href="contact">Contact</a>
                          </li>
                          <li>
                            <a href="Login">Login</a>
                          </li>
                        </ul>
                      </div>
                      <div class="column is-5 has-text-right">
                        <form class="form-inline" role="search">
                          <input
                            class="form-control"
                            type="text"
                            title="Enter search query here.."
                            placeholder="Search"
                          />
                        </form>
                        <!-- Social links -->
                        <ul class="navbar-social">
                          <li>
                            <a href="https://www.instagram.com/ondaemontime/">
                              <i class="fab fa-instagram fa-2x"></i>
                            </a>
                          </li>
                          <!-- <li>
                          <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-linkedin fa-2x"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-youtube fa-2x"></i>
                          </a>
                        </li> -->
                        </ul>
                        <!--  Social links-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
            <!-- end navbar -->
          </div>
        </div>
      </div>
    </header>
    <!-- end header-main -->
  </body>
</html>
