<div class="column is-12">
  <form class="form-sidebar">
    <div>
      <input type="text" class="form-control" placeholder="Search" />
      <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>
</div>
